@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-variation-settings: 'wght' 400, 'slnt' 0;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Inter';
}

h1, h2, p {
  margin: 0;
}

.social-media-link {
  background-color: hsl(0, 0%, 12%);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
}

.avatar {
  margin-bottom: 24px;
}

.avatar img {
  width: 100px;
  border-radius: 50px;
}

h1 {
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 8px;
}

h2 {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  font-size: 15px;
  margin-bottom: 30px;
}

p {
  font-size: 14px;
  margin-bottom: 24px;
}

.links {
  width: 100%;
}

.social {
  margin-bottom: 15px;
}

button {
  background-color: hsl(0, 0%, 20%);
  border: none;
  color: white;
  font-family: 'Inter';
  width: 100%;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s,
  color 0.15s,
  font-size 0.15s, 
  padding 0.15s;
}

button:hover {
  background-color:hsl(75, 94%, 57%);
  color:hsl(0, 0%, 12%);
  font-size: 17px;
}

.attribution {
  color:hsl(75, 94%, 57%);
  position: fixed;
  bottom: 10px;
}

